<h1>Top 10 Companies on NASDAQ Composite</h1>

<p>source: https://disfold.com/top-companies-us-nasdaq </p>
<div class="jumbotron md-info	table-responsive-sm">
  <table class="table"> 
     
 <tr>Market cap as of Jan 2021
 <br/>
 <th scope="col">1</th>
 <td>Apple AAPL
</td>

 <tr>
 <th scope="col">2</th>
 <td>Microsoft MSFT
</td>

 <tr>
 <th scope="col">3</th>
 <td>Amazon AMZN
</td>


 <tr>
 <th scope="col">4</th>
 <td>Alphabet GOOG
</td>

 <tr>
 <th scope="col">5</th>
 <td>Tesla TSLA
</td>

 <tr>
 <th scope="col">6</th>
 <td>Facebook FB
</td>

 <tr>
 <th scope="col">7</th>
 <td>Nvidia NVDA
</td>

 <tr>
 <th scope="col">8</th>
 <td>PayPal PYPL
</td>

 <tr>
 <th scope="col">9</th>
 <td>Netflix NFLX
</td>

 <tr>
 <th scope="col">10</th>
 <td>Comcast CMCSA
</td>

</div>
</div>

